In [36]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [37]:
df = pd.read_csv('MergedData.csv')
df = df.drop('Unnamed: 0',axis=1)
df.head()

/home/iistlab/anaconda2/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,zip,sector,property_class,avg_year_built,median_year_built,number_of_properties,number_of_properties_with_nonnull_unit_count,total_unit_count,avg_unit_count,median_unit_count,...,commuters_by_subway_or_elevated,group_quarters,male_45_64_less_than_9_grade,male_45_64_grade_9_12,male_45_64_high_school,armed_forces,employed_agriculture_forestry_fishing_hunting_mining,employed_information,employed_public_administration,Liking
0,77072,Apartment,B,1978.0,1977.5,2.0,2.0,566.0,283.0000,283.0,...,0.0,168.0,1801.0,867.0,2012.0,0.0,283.0,507.0,462.0,NaN
1,77072,Apartment,BC,1978.0,1977.5,2.0,2.0,331.0,165.5000,165.5,...,0.0,168.0,1801.0,867.0,2012.0,0.0,283.0,507.0,462.0,NaN
2,77072,Apartment,C,1978.0,1979.0,16.0,16.0,3333.0,208.3125,213.0,...,0.0,168.0,1801.0,867.0,2012.0,0.0,283.0,507.0,462.0,NaN
3,77072,Apartment,NaN,2005.0,2005.0,1.0,1.0,278.0,278.0000,278.0,...,0.0,168.0,1801.0,867.0,2012.0,0.0,283.0,507.0,462.0,NaN
4,77072,Office,A,2005.0,2004.5,2.0,0.0,NaN,NaN,NaN,...,0.0,168.0,1801.0,867.0,2012.0,0.0,283.0,507.0,462.0,NaN

In [38]:
df.shape

(157972, 116)

In [39]:
df.shape,df['Liking'].value_counts()

((157972, 116),
 1.0    2665
 0.0     615
 Name: Liking, dtype: int64)

In [40]:
label_data = df[~(df['Liking'].isnull())]
unlabel_data  = df[df['Liking'].isnull()]
print(label_data.shape,unlabel_data.shape)
label_data['Liking'].value_counts()

(3280, 116) (154692, 116)

1.0    2665
0.0     615
Name: Liking, dtype: int64

## Labeled Data EDA

In [41]:
label_data.head()

,zip,sector,property_class,avg_year_built,median_year_built,number_of_properties,number_of_properties_with_nonnull_unit_count,total_unit_count,avg_unit_count,median_unit_count,...,commuters_by_subway_or_elevated,group_quarters,male_45_64_less_than_9_grade,male_45_64_grade_9_12,male_45_64_high_school,armed_forces,employed_agriculture_forestry_fishing_hunting_mining,employed_information,employed_public_administration,Liking
7,77072,Apartment,NaN,NaN,NaN,47.0,NaN,NaN,NaN,NaN,...,0.0,168.0,1801.0,867.0,2012.0,0.0,283.0,507.0,462.0,0.0
8,77072,Apartment,NaN,NaN,NaN,47.0,NaN,NaN,NaN,NaN,...,0.0,168.0,1801.0,867.0,2012.0,0.0,283.0,507.0,462.0,0.0
9,77072,Apartment,NaN,NaN,NaN,47.0,NaN,NaN,NaN,NaN,...,0.0,168.0,1801.0,867.0,2012.0,0.0,283.0,507.0,462.0,0.0
10,77072,Apartment,NaN,NaN,NaN,47.0,NaN,NaN,NaN,NaN,...,0.0,168.0,1801.0,867.0,2012.0,0.0,283.0,507.0,462.0,0.0
11,77072,Apartment,NaN,NaN,NaN,47.0,NaN,NaN,NaN,NaN,...,0.0,168.0,1801.0,867.0,2012.0,0.0,283.0,507.0,462.0,0.0

In [42]:
label_data.nunique()

zip                                                     16
sector                                                   1
property_class                                           1
avg_year_built                                           1
median_year_built                                        1
                                                        ..
armed_forces                                             5
employed_agriculture_forestry_fishing_hunting_mining    16
employed_information                                    16
employed_public_administration                          15
Liking                                                   2
Length: 116, dtype: int64

In [43]:
for i in label_data:
    if label_data[i].nunique()<2:
        label_data = label_data.drop(i,axis=1)
print(label_data.shape)
label_data.head()

(3280, 85)

,zip,number_of_properties,submarket_name,building_class,year,period,completions,vac_pct,vacancy_chg_bps,asking_rent_pct_chg,...,commuters_by_subway_or_elevated,group_quarters,male_45_64_less_than_9_grade,male_45_64_grade_9_12,male_45_64_high_school,armed_forces,employed_agriculture_forestry_fishing_hunting_mining,employed_information,employed_public_administration,Liking
7,77072,47.0,Alief/Kirkwood,All,1990.0,Y,0.0,0.099,NaN,NaN,...,0.0,168.0,1801.0,867.0,2012.0,0.0,283.0,507.0,462.0,0.0
8,77072,47.0,Alief/Kirkwood,All,1991.0,Y,0.0,0.101,20.0,0.040,...,0.0,168.0,1801.0,867.0,2012.0,0.0,283.0,507.0,462.0,0.0
9,77072,47.0,Alief/Kirkwood,All,1992.0,Y,0.0,0.088,-130.0,0.032,...,0.0,168.0,1801.0,867.0,2012.0,0.0,283.0,507.0,462.0,0.0
10,77072,47.0,Alief/Kirkwood,All,1993.0,Y,0.0,0.072,-160.0,0.014,...,0.0,168.0,1801.0,867.0,2012.0,0.0,283.0,507.0,462.0,0.0
11,77072,47.0,Alief/Kirkwood,All,1994.0,Y,0.0,0.059,-130.0,0.023,...,0.0,168.0,1801.0,867.0,2012.0,0.0,283.0,507.0,462.0,0.0

In [44]:
label_data = label_data.dropna(axis=1,thresh=int(len(label_data)*0.4))

In [45]:
label_data.shape

(3280, 84)

In [46]:
sum(label_data.dtypes=='object')

3

## Handeling missing value categorical and continous

In [47]:
for i in label_data:
    if label_data[i].dtypes=='O':
        print(i)
        print(label_data[i].value_counts())
        print()

submarket_name
Montrose/River Oaks        651
Interloop/South Houston    372
Alief/Kirkwood             186
Braeswood/Bellaire         186
Briar Grove/Westchase       93
Name: submarket_name, dtype: int64

building_class
All    1488
A       896
BC      896
Name: building_class, dtype: int64

period
Y      2960
Y-B     320
Name: period, dtype: int64

In [48]:
label_data.shape,label_data.isnull().sum()

((3280, 84),
 zip                                                        0
 number_of_properties                                       0
 submarket_name                                          1792
 building_class                                             0
 year                                                       0
                                                         ...
 armed_forces                                               0
 employed_agriculture_forestry_fishing_hunting_mining       0
 employed_information                                       0
 employed_public_administration                             0
 Liking                                                     0
 Length: 84, dtype: int64)

In [49]:
median_dict = dict(label_data.median())
median_dict['submarket_name'] = 'Montrose/River Oaks'
median_dict['building_class'] = 'All'
median_dict['period'] = 'Y'
median_dict

{'zip': 77021.5,
 'number_of_properties': 36.0,
 'year': 2007.0,
 'completions': 804.0,
 'vac_pct': 0.064,
 'vacancy_chg_bps': -30.0,
 'asking_rent_pct_chg': 0.028,
 'abs_per_occ_stk_pct': 1.7,
 'construction_per_absorption': 0.6,
 'total_employment': 2538830.0,
 'total_employment_pct_chg': 0.018844,
 'office_employment': 770064.0,
 'office_employment_pct_chg': 0.021981,
 'industrial_employment': 390397.0,
 'industrial_employment_pct_chg': 0.016115,
 'households': 1988440.0,
 'households_pct_chg': 0.02048,
 'population': 5603720.0,
 'population_pct_chg': 0.021039,
 'household_avg_income': 121667.0,
 'household_avg_income_pct_chg': 0.051156,
 'total_pop': 19179.5,
 'median_age': 33.85,
 'male_18_to_19': 148.0,
 'male_22_to_24': 479.5,
 'male_65_to_66': 239.5,
 'male_75_to_79': 166.5,
 'male_80_to_84': 67.0,
 'male_85_and_over': 82.0,
 'white_pop': 8053.0,
 'not_us_citizen_pop': 2229.0,
 'black_pop': 1002.5,
 'asian_pop': 2019.5,
 'hispanic_pop': 3429.0,
 'amerindian_pop': 16.0,
 'other_race_pop': 52.5,
 'two_or_more_races_pop': 419.0,
 'hispanic_any_race': 3429.0,
 'median_income': 85517.0,
 'income_less_10000': 502.5,
 'income_25000_29999': 221.5,
 'income_45000_49999': 209.5,
 'income_200000_or_more': 1059.5,
 'gini_index': 0.48535,
 'owner_occupied_housing_units_lower_value_quartile': 298200.0,
 'vacant_housing_units': 1023.5,
 'vacant_housing_units_for_rent': 412.5,
 'vacant_housing_units_for_sale': 76.0,
 'dwellings_1_units_attached': 779.5,
 'dwellings_2_units': 144.5,
 'dwellings_3_to_4_units': 300.0,
 'dwellings_20_to_49_units': 586.5,
 'dwellings_50_or_more_units': 2951.0,
 'mobile_homes': 15.0,
 'housing_built_2005_or_later': 432.5,
 'housing_built_1939_or_earlier': 290.0,
 'median_year_structure_built': 1988.0,
 'nonfamily_households': 3885.0,
 'male_male_households': 27.5,
 'female_female_households': 5.0,
 'percent_income_spent_on_rent': 26.35,
 'rent_under_10_percent': 267.5,
 'million_dollar_housing_units': 68.5,
 'different_house_year_ago_different_city': 2217.0,
 'different_house_year_ago_same_city': 2254.0,
 'two_parents_mother_in_labor_force_families_with_young_children': 12.0,
 'two_parents_not_in_labor_force_families_with_young_children': 2.5,
 'father_one_parent_families_with_young_children': 27.5,
 'commute_less_10_mins': 1167.0,
 'walked_to_work': 293.5,
 'commuters_by_public_transportation': 259.5,
 'commuters_by_subway_or_elevated': 0.0,
 'group_quarters': 125.0,
 'male_45_64_less_than_9_grade': 87.5,
 'male_45_64_grade_9_12': 48.0,
 'male_45_64_high_school': 283.0,
 'armed_forces': 0.0,
 'employed_agriculture_forestry_fishing_hunting_mining': 490.5,
 'employed_information': 179.5,
 'employed_public_administration': 213.5,
 'Liking': 1.0,
 'submarket_name': 'Montrose/River Oaks',
 'building_class': 'All',
 'period': 'Y'}

In [50]:
len(median_dict)

84

In [51]:
label_data_new = label_data.fillna(value=median_dict,axis=0)
print(label_data_new.isnull().sum().sum())
label_data_new.head()

0

,zip,number_of_properties,submarket_name,building_class,year,period,completions,vac_pct,vacancy_chg_bps,asking_rent_pct_chg,...,commuters_by_subway_or_elevated,group_quarters,male_45_64_less_than_9_grade,male_45_64_grade_9_12,male_45_64_high_school,armed_forces,employed_agriculture_forestry_fishing_hunting_mining,employed_information,employed_public_administration,Liking
7,77072,47.0,Alief/Kirkwood,All,1990.0,Y,0.0,0.099,-30.0,0.028,...,0.0,168.0,1801.0,867.0,2012.0,0.0,283.0,507.0,462.0,0.0
8,77072,47.0,Alief/Kirkwood,All,1991.0,Y,0.0,0.101,20.0,0.040,...,0.0,168.0,1801.0,867.0,2012.0,0.0,283.0,507.0,462.0,0.0
9,77072,47.0,Alief/Kirkwood,All,1992.0,Y,0.0,0.088,-130.0,0.032,...,0.0,168.0,1801.0,867.0,2012.0,0.0,283.0,507.0,462.0,0.0
10,77072,47.0,Alief/Kirkwood,All,1993.0,Y,0.0,0.072,-160.0,0.014,...,0.0,168.0,1801.0,867.0,2012.0,0.0,283.0,507.0,462.0,0.0
11,77072,47.0,Alief/Kirkwood,All,1994.0,Y,0.0,0.059,-130.0,0.023,...,0.0,168.0,1801.0,867.0,2012.0,0.0,283.0,507.0,462.0,0.0

In [52]:
# label_data_new.to_csv('RawLabeledData.csv')

## Data Preprocessing
- Label Encoding
- Min Max Scaling
- Standardise

In [53]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

In [54]:
cleaned_labeled_data = label_data_new.copy()
categorical_dictonary = {}
for i in label_data_new.columns[1:-1]:
    if label_data_new[i].dtype =='O':
        le = LabelEncoder()
        cleaned_labeled_data[i] = le.fit_transform(label_data_new[i])
        categorical_dictonary[i] = dict(zip(le.classes_,list(range(len(le.classes_)))))
    else:
        min_max = StandardScaler()
        cleaned_labeled_data[i] = min_max.fit_transform(np.array(label_data_new[i]).reshape(-1,1))

In [55]:
categorical_dictonary

{'submarket_name': {'Alief/Kirkwood': 0,
  'Braeswood/Bellaire': 1,
  'Briar Grove/Westchase': 2,
  'Interloop/South Houston': 3,
  'Montrose/River Oaks': 4},
 'building_class': {'A': 0, 'All': 1, 'BC': 2},
 'period': {'Y': 0, 'Y-B': 1}}

In [56]:
cleaned_labeled_data.head()

,zip,number_of_properties,submarket_name,building_class,year,period,completions,vac_pct,vacancy_chg_bps,asking_rent_pct_chg,...,commuters_by_subway_or_elevated,group_quarters,male_45_64_less_than_9_grade,male_45_64_grade_9_12,male_45_64_high_school,armed_forces,employed_agriculture_forestry_fishing_hunting_mining,employed_information,employed_public_administration,Liking
7,77072,-0.03753,0,1,-1.487651,0,-0.687108,0.960546,-0.104365,0.012139,...,-0.570861,-0.424017,2.986672,2.753124,1.901796,-0.50029,-0.600105,1.663823,0.316863,0.0
8,77072,-0.03753,0,1,-1.398322,0,-0.687108,1.028919,0.333717,0.436848,...,-0.570861,-0.424017,2.986672,2.753124,1.901796,-0.50029,-0.600105,1.663823,0.316863,0.0
9,77072,-0.03753,0,1,-1.308993,0,-0.687108,0.584491,-0.980528,0.153709,...,-0.570861,-0.424017,2.986672,2.753124,1.901796,-0.50029,-0.600105,1.663823,0.316863,0.0
10,77072,-0.03753,0,1,-1.219665,0,-0.687108,0.037501,-1.243377,-0.483354,...,-0.570861,-0.424017,2.986672,2.753124,1.901796,-0.50029,-0.600105,1.663823,0.316863,0.0
11,77072,-0.03753,0,1,-1.130336,0,-0.687108,-0.406927,-0.980528,-0.164823,...,-0.570861,-0.424017,2.986672,2.753124,1.901796,-0.50029,-0.600105,1.663823,0.316863,0.0

In [57]:
# cleaned_labeled_data.to_csv('CleanedLabeledData.csv')

## Standardisation

In [58]:
# test_data = stand_data[['zip','population','asking_rent_pct_chg','total_employment','industrial_employment','household_avg_income_pct_chg','Liking']]

In [59]:
# test_data.to_csv('test_data.csv')

## Corelation Check

In [60]:
corr = label_data_new.corr()

In [61]:
thresh = corr[(corr>0.8) | (corr<-0.8)]
thresh

,zip,number_of_properties,year,completions,vac_pct,vacancy_chg_bps,asking_rent_pct_chg,abs_per_occ_stk_pct,construction_per_absorption,total_employment,...,commuters_by_subway_or_elevated,group_quarters,male_45_64_less_than_9_grade,male_45_64_grade_9_12,male_45_64_high_school,armed_forces,employed_agriculture_forestry_fishing_hunting_mining,employed_information,employed_public_administration,Liking
zip,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
number_of_properties,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
year,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0.988755,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
completions,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
vac_pct,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
armed_forces,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
employed_agriculture_forestry_fishing_hunting_mining,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
employed_information,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
employed_public_administration,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.814983,NaN,NaN,NaN,1.0,NaN
Liking,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-0.884149,NaN,-0.806253,NaN,NaN,NaN,NaN,1.0

In [62]:
high_corr_dict = {}
for i in thresh:
    l = thresh[i].dropna()
    if len(l)>1:
        print('Attribute Name :',i,'\n')
        print('High Correlations :\n')
        print(l)
        high_corr_dict[i]=l
        print()

Attribute Name : zip

High Correlations :

zip             1.000000
mobile_homes    0.957589
Name: zip, dtype: float64

Attribute Name : number_of_properties

High Correlations :

number_of_properties    1.000000
male_male_households    0.890888
Name: number_of_properties, dtype: float64

Attribute Name : year

High Correlations :

year                     1.000000
total_employment         0.988755
office_employment        0.994583
industrial_employment    0.859862
households               0.990682
population               0.993337
household_avg_income     0.981003
Name: year, dtype: float64

Attribute Name : total_employment

High Correlations :

year                     0.988755
total_employment         1.000000
office_employment        0.998305
industrial_employment    0.905917
households               0.991059
population               0.991387
household_avg_income     0.984525
Name: total_employment, dtype: float64

Attribute Name : total_employment_pct_chg

High Correlations :

total_employment_pct_chg         1.000000
office_employment_pct_chg        0.958332
industrial_employment_pct_chg    0.920249
Name: total_employment_pct_chg, dtype: float64

Attribute Name : office_employment

High Correlations :

year                     0.994583
total_employment         0.998305
office_employment        1.000000
industrial_employment    0.888833
households               0.992503
population               0.992650
household_avg_income     0.986849
Name: office_employment, dtype: float64

Attribute Name : office_employment_pct_chg

High Correlations :

total_employment_pct_chg         0.958332
office_employment_pct_chg        1.000000
industrial_employment_pct_chg    0.848786
Name: office_employment_pct_chg, dtype: float64

Attribute Name : industrial_employment

High Correlations :

year                     0.859862
total_employment         0.905917
office_employment        0.888833
industrial_employment    1.000000
households               0.853076
population               0.867175
household_avg_income     0.861718
Name: industrial_employment, dtype: float64

Attribute Name : industrial_employment_pct_chg

High Correlations :

total_employment_pct_chg         0.920249
office_employment_pct_chg        0.848786
industrial_employment_pct_chg    1.000000
Name: industrial_employment_pct_chg, dtype: float64

Attribute Name : households

High Correlations :

year                     0.990682
total_employment         0.991059
office_employment        0.992503
industrial_employment    0.853076
households               1.000000
population               0.998012
household_avg_income     0.984847
Name: households, dtype: float64

Attribute Name : households_pct_chg

High Correlations :

households_pct_chg    1.000000
population_pct_chg    0.853713
Name: households_pct_chg, dtype: float64

Attribute Name : population

High Correlations :

year                     0.993337
total_employment         0.991387
office_employment        0.992650
industrial_employment    0.867175
households               0.998012
population               1.000000
household_avg_income     0.980656
Name: population, dtype: float64

Attribute Name : population_pct_chg

High Correlations :

households_pct_chg    0.853713
population_pct_chg    1.000000
Name: population_pct_chg, dtype: float64

Attribute Name : household_avg_income

High Correlations :

year                     0.981003
total_employment         0.984525
office_employment        0.986849
industrial_employment    0.861718
households               0.984847
population               0.980656
household_avg_income     1.000000
Name: household_avg_income, dtype: float64

Attribute Name : total_pop

High Correlations :

total_pop                                         1.000000
male_22_to_24                                     0.847244
male_65_to_66                                     0.957170
male_75_to_79                                     0.869881
not_us_citizen_pop                                0.896077
asian_pop                                         0.936187
hispanic_pop                                      0.823043
hispanic_any_race                                 0.823043
income_25000_29999                                0.871498
income_45000_49999                                0.921197
father_one_parent_families_with_young_children    0.843530
male_45_64_high_school                            0.860245
employed_public_administration                    0.872182
Name: total_pop, dtype: float64

Attribute Name : male_18_to_19

High Correlations :

male_18_to_19    1.000000
male_22_to_24    0.840387
black_pop        0.868896
Name: male_18_to_19, dtype: float64

Attribute Name : male_22_to_24

High Correlations :

total_pop                                  0.847244
male_18_to_19                              0.840387
male_22_to_24                              1.000000
black_pop                                  0.908345
income_less_10000                          0.813364
different_house_year_ago_different_city    0.865081
commuters_by_public_transportation         0.805876
male_45_64_high_school                     0.825694
employed_public_administration             0.814764
Name: male_22_to_24, dtype: float64

Attribute Name : male_65_to_66

High Correlations :

total_pop                         0.957170
male_65_to_66                     1.000000
male_75_to_79                     0.800682
not_us_citizen_pop                0.850371
asian_pop                         0.912116
income_25000_29999                0.823448
income_45000_49999                0.865897
male_45_64_high_school            0.813162
employed_public_administration    0.838543
Name: male_65_to_66, dtype: float64

Attribute Name : male_75_to_79

High Correlations :

total_pop        0.869881
male_65_to_66    0.800682
male_75_to_79    1.000000
male_80_to_84    0.866672
Name: male_75_to_79, dtype: float64

Attribute Name : male_80_to_84

High Correlations :

male_75_to_79       0.866672
male_80_to_84       1.000000
male_85_and_over    0.935422
Name: male_80_to_84, dtype: float64

Attribute Name : male_85_and_over

High Correlations :

male_80_to_84       0.935422
male_85_and_over    1.000000
Name: male_85_and_over, dtype: float64

Attribute Name : white_pop

High Correlations :

white_pop                                               1.000000
income_200000_or_more                                   0.972471
employed_agriculture_forestry_fishing_hunting_mining    0.847411
Name: white_pop, dtype: float64

Attribute Name : not_us_citizen_pop

High Correlations :

total_pop                                         0.896077
male_65_to_66                                     0.850371
not_us_citizen_pop                                1.000000
asian_pop                                         0.930539
hispanic_pop                                      0.964385
hispanic_any_race                                 0.964385
income_25000_29999                                0.967545
income_45000_49999                                0.981377
father_one_parent_families_with_young_children    0.882278
male_45_64_less_than_9_grade                      0.959930
male_45_64_grade_9_12                             0.876764
male_45_64_high_school                            0.916147
Liking                                           -0.827186
Name: not_us_citizen_pop, dtype: float64

Attribute Name : black_pop

High Correlations :

male_18_to_19                                     0.868896
male_22_to_24                                     0.908345
black_pop                                         1.000000
father_one_parent_families_with_young_children    0.806467
male_45_64_high_school                            0.849423
employed_public_administration                    0.836135
Name: black_pop, dtype: float64

Attribute Name : asian_pop

High Correlations :

total_pop                                         0.936187
male_65_to_66                                     0.912116
not_us_citizen_pop                                0.930539
asian_pop                                         1.000000
hispanic_pop                                      0.834806
hispanic_any_race                                 0.834806
income_25000_29999                                0.869680
income_45000_49999                                0.921476
father_one_parent_families_with_young_children    0.878137
male_45_64_less_than_9_grade                      0.825469
male_45_64_high_school                            0.891324
employed_public_administration                    0.862188
Name: asian_pop, dtype: float64

Attribute Name : hispanic_pop

High Correlations :

total_pop                                         0.823043
not_us_citizen_pop                                0.964385
asian_pop                                         0.834806
hispanic_pop                                      1.000000
hispanic_any_race                                 1.000000
income_25000_29999                                0.922637
income_45000_49999                                0.929660
father_one_parent_families_with_young_children    0.889541
male_45_64_less_than_9_grade                      0.976942
male_45_64_grade_9_12                             0.909214
male_45_64_high_school                            0.908652
Liking                                           -0.921518
Name: hispanic_pop, dtype: float64

Attribute Name : amerindian_pop

High Correlations :

amerindian_pop                    1.000000
employed_public_administration    0.864081
Name: amerindian_pop, dtype: float64

Attribute Name : two_or_more_races_pop

High Correlations :

two_or_more_races_pop                      1.000000
different_house_year_ago_different_city    0.801134
Name: two_or_more_races_pop, dtype: float64

Attribute Name : hispanic_any_race

High Correlations :

total_pop                                         0.823043
not_us_citizen_pop                                0.964385
asian_pop                                         0.834806
hispanic_pop                                      1.000000
hispanic_any_race                                 1.000000
income_25000_29999                                0.922637
income_45000_49999                                0.929660
father_one_parent_families_with_young_children    0.889541
male_45_64_less_than_9_grade                      0.976942
male_45_64_grade_9_12                             0.909214
male_45_64_high_school                            0.908652
Liking                                           -0.921518
Name: hispanic_any_race, dtype: float64

Attribute Name : income_less_10000

High Correlations :

male_22_to_24                         0.813364
income_less_10000                     1.000000
dwellings_3_to_4_units                0.817709
commuters_by_public_transportation    0.937710
Name: income_less_10000, dtype: float64

Attribute Name : income_25000_29999

High Correlations :

total_pop                       0.871498
male_65_to_66                   0.823448
not_us_citizen_pop              0.967545
asian_pop                       0.869680
hispanic_pop                    0.922637
hispanic_any_race               0.922637
income_25000_29999              1.000000
income_45000_49999              0.969705
male_45_64_less_than_9_grade    0.926371
male_45_64_grade_9_12           0.860736
male_45_64_high_school          0.851053
Name: income_25000_29999, dtype: float64

Attribute Name : income_45000_49999

High Correlations :

total_pop                                         0.921197
male_65_to_66                                     0.865897
not_us_citizen_pop                                0.981377
asian_pop                                         0.921476
hispanic_pop                                      0.929660
hispanic_any_race                                 0.929660
income_25000_29999                                0.969705
income_45000_49999                                1.000000
father_one_parent_families_with_young_children    0.862369
male_45_64_less_than_9_grade                      0.911892
male_45_64_grade_9_12                             0.853770
male_45_64_high_school                            0.903241
Name: income_45000_49999, dtype: float64

Attribute Name : income_200000_or_more

High Correlations :

white_pop                                               0.972471
income_200000_or_more                                   1.000000
employed_agriculture_forestry_fishing_hunting_mining    0.848299
Name: income_200000_or_more, dtype: float64

Attribute Name : vacant_housing_units

High Correlations :

vacant_housing_units             1.000000
vacant_housing_units_for_rent    0.830247
dwellings_2_units                0.821959
Name: vacant_housing_units, dtype: float64

Attribute Name : vacant_housing_units_for_rent

High Correlations :

vacant_housing_units                  0.830247
vacant_housing_units_for_rent         1.000000
dwellings_20_to_49_units              0.814127
nonfamily_households                  0.819930
rent_under_10_percent                 0.829377
different_house_year_ago_same_city    0.818566
Name: vacant_housing_units_for_rent, dtype: float64

Attribute Name : vacant_housing_units_for_sale

High Correlations :

vacant_housing_units_for_sale                           1.000000
housing_built_2005_or_later                             0.813220
nonfamily_households                                    0.800337
employed_agriculture_forestry_fishing_hunting_mining    0.873616
Name: vacant_housing_units_for_sale, dtype: float64

Attribute Name : dwellings_1_units_attached

High Correlations :

dwellings_1_units_attached                              1.000000
nonfamily_households                                    0.841478
female_female_households                                0.856799
commute_less_10_mins                                    0.816581
employed_agriculture_forestry_fishing_hunting_mining    0.824079
employed_information                                    0.815505
Name: dwellings_1_units_attached, dtype: float64

Attribute Name : dwellings_2_units

High Correlations :

vacant_housing_units             0.821959
dwellings_2_units                1.000000
housing_built_1939_or_earlier    0.874162
walked_to_work                   0.810143
Name: dwellings_2_units, dtype: float64

Attribute Name : dwellings_3_to_4_units

High Correlations :

income_less_10000                     0.817709
dwellings_3_to_4_units                1.000000
commuters_by_public_transportation    0.804021
Name: dwellings_3_to_4_units, dtype: float64

Attribute Name : dwellings_20_to_49_units

High Correlations :

vacant_housing_units_for_rent    0.814127
dwellings_20_to_49_units         1.000000
nonfamily_households             0.834473
rent_under_10_percent            0.885386
commute_less_10_mins             0.808050
Name: dwellings_20_to_49_units, dtype: float64

Attribute Name : dwellings_50_or_more_units

High Correlations :

dwellings_50_or_more_units     1.000000
housing_built_2005_or_later    0.819163
nonfamily_households           0.811422
rent_under_10_percent          0.801686
Name: dwellings_50_or_more_units, dtype: float64

Attribute Name : mobile_homes

High Correlations :

zip             0.957589
mobile_homes    1.000000
Name: mobile_homes, dtype: float64

Attribute Name : housing_built_2005_or_later

High Correlations :

vacant_housing_units_for_sale                           0.813220
dwellings_50_or_more_units                              0.819163
housing_built_2005_or_later                             1.000000
nonfamily_households                                    0.828198
employed_agriculture_forestry_fishing_hunting_mining    0.927039
Name: housing_built_2005_or_later, dtype: float64

Attribute Name : housing_built_1939_or_earlier

High Correlations :

dwellings_2_units                0.874162
housing_built_1939_or_earlier    1.000000
walked_to_work                   0.887016
Name: housing_built_1939_or_earlier, dtype: float64

Attribute Name : nonfamily_households

High Correlations :

vacant_housing_units_for_rent                           0.819930
vacant_housing_units_for_sale                           0.800337
dwellings_1_units_attached                              0.841478
dwellings_20_to_49_units                                0.834473
dwellings_50_or_more_units                              0.811422
housing_built_2005_or_later                             0.828198
nonfamily_households                                    1.000000
rent_under_10_percent                                   0.882859
commute_less_10_mins                                    0.921510
employed_agriculture_forestry_fishing_hunting_mining    0.804499
Name: nonfamily_households, dtype: float64

Attribute Name : male_male_households

High Correlations :

number_of_properties    0.890888
male_male_households    1.000000
Name: male_male_households, dtype: float64

Attribute Name : female_female_households

High Correlations :

dwellings_1_units_attached    0.856799
female_female_households      1.000000
Name: female_female_households, dtype: float64

Attribute Name : rent_under_10_percent

High Correlations :

vacant_housing_units_for_rent    0.829377
dwellings_20_to_49_units         0.885386
dwellings_50_or_more_units       0.801686
nonfamily_households             0.882859
rent_under_10_percent            1.000000
commute_less_10_mins             0.824167
Name: rent_under_10_percent, dtype: float64

Attribute Name : different_house_year_ago_different_city

High Correlations :

male_22_to_24                              0.865081
two_or_more_races_pop                      0.801134
different_house_year_ago_different_city    1.000000
Name: different_house_year_ago_different_city, dtype: float64

Attribute Name : different_house_year_ago_same_city

High Correlations :

vacant_housing_units_for_rent         0.818566
different_house_year_ago_same_city    1.000000
Name: different_house_year_ago_same_city, dtype: float64

Attribute Name : father_one_parent_families_with_young_children

High Correlations :

total_pop                                         0.843530
not_us_citizen_pop                                0.882278
black_pop                                         0.806467
asian_pop                                         0.878137
hispanic_pop                                      0.889541
hispanic_any_race                                 0.889541
income_45000_49999                                0.862369
father_one_parent_families_with_young_children    1.000000
male_45_64_less_than_9_grade                      0.829231
male_45_64_high_school                            0.910039
employed_public_administration                    0.868732
Liking                                           -0.842856
Name: father_one_parent_families_with_young_children, dtype: float64

Attribute Name : commute_less_10_mins

High Correlations :

dwellings_1_units_attached    0.816581
dwellings_20_to_49_units      0.808050
nonfamily_households          0.921510
rent_under_10_percent         0.824167
commute_less_10_mins          1.000000
Name: commute_less_10_mins, dtype: float64

Attribute Name : walked_to_work

High Correlations :

dwellings_2_units                0.810143
housing_built_1939_or_earlier    0.887016
walked_to_work                   1.000000
Name: walked_to_work, dtype: float64

Attribute Name : commuters_by_public_transportation

High Correlations :

male_22_to_24                         0.805876
income_less_10000                     0.937710
dwellings_3_to_4_units                0.804021
commuters_by_public_transportation    1.000000
Name: commuters_by_public_transportation, dtype: float64

Attribute Name : commuters_by_subway_or_elevated

High Correlations :

commuters_by_subway_or_elevated    1.000000
group_quarters                     0.844897
Name: commuters_by_subway_or_elevated, dtype: float64

Attribute Name : group_quarters

High Correlations :


In [63]:
high_corr_dict.keys()

dict_keys(['zip', 'number_of_properties', 'year', 'total_employment', 'total_employment_pct_chg', 'office_employment', 'office_employment_pct_chg', 'industrial_employment', 'industrial_employment_pct_chg', 'households', 'households_pct_chg', 'population', 'population_pct_chg', 'household_avg_income', 'total_pop', 'male_18_to_19', 'male_22_to_24', 'male_65_to_66', 'male_75_to_79', 'male_80_to_84', 'male_85_and_over', 'white_pop', 'not_us_citizen_pop', 'black_pop', 'asian_pop', 'hispanic_pop', 'amerindian_pop', 'two_or_more_races_pop', 'hispanic_any_race', 'income_less_10000', 'income_25000_29999', 'income_45000_49999', 'income_200000_or_more', 'vacant_housing_units', 'vacant_housing_units_for_rent', 'vacant_housing_units_for_sale', 'dwellings_1_units_attached', 'dwellings_2_units', 'dwellings_3_to_4_units', 'dwellings_20_to_49_units', 'dwellings_50_or_more_units', 'mobile_homes', 'housing_built_2005_or_later', 'housing_built_1939_or_earlier', 'nonfamily_households', 'male_male_households', 'female_female_households', 'rent_under_10_percent', 'different_house_year_ago_different_city', 'different_house_year_ago_same_city', 'father_one_parent_families_with_young_children', 'commute_less_10_mins', 'walked_to_work', 'commuters_by_public_transportation', 'commuters_by_subway_or_elevated', 'group_quarters', 'male_45_64_less_than_9_grade', 'male_45_64_grade_9_12', 'male_45_64_high_school', 'employed_agriculture_forestry_fishing_hunting_mining', 'employed_information', 'employed_public_administration', 'Liking'])

In [64]:
len(label_data_new.columns)

84

## Removing corelated columns

In [65]:
temp = cleaned_labeled_data.drop(['zip','Liking'],axis=1)
corr = abs(temp.corr())
corr.shape

(82, 82)

In [66]:
k = 0
for col in corr.columns[1:-1]:
    try:
        l = list(corr.columns[(corr.loc[col]>0.8) & (corr.loc[col]<1)])
        if len(l)!=0:
            corr = corr.drop(l,axis=1)
            corr = corr.drop(l,axis=0)
            print(f' {k+1} iteration removed columns are : {l}\n ')
            k+=1
    except:
        pass

 1 iteration removed columns are : ['total_employment', 'office_employment', 'industrial_employment', 'households', 'population', 'household_avg_income']

 2 iteration removed columns are : ['office_employment_pct_chg', 'industrial_employment_pct_chg']

 3 iteration removed columns are : ['population_pct_chg']

 4 iteration removed columns are : ['male_22_to_24', 'male_65_to_66', 'male_75_to_79', 'not_us_citizen_pop', 'asian_pop', 'hispanic_pop', 'hispanic_any_race', 'income_25000_29999', 'income_45000_49999', 'father_one_parent_families_with_young_children', 'male_45_64_high_school', 'employed_public_administration']

 5 iteration removed columns are : ['black_pop']

 6 iteration removed columns are : ['male_85_and_over']

 7 iteration removed columns are : ['income_200000_or_more', 'employed_agriculture_forestry_fishing_hunting_mining']

 8 iteration removed columns are : ['different_house_year_ago_different_city']

 9 iteration removed columns are : ['dwellings_3_to_4_units', 'commuters_by_public_transportation']

 10 iteration removed columns are : ['vacant_housing_units_for_rent', 'dwellings_2_units']

 11 iteration removed columns are : ['housing_built_2005_or_later', 'nonfamily_households']

 12 iteration removed columns are : ['female_female_households', 'commute_less_10_mins', 'employed_information']

 13 iteration removed columns are : ['rent_under_10_percent']

 14 iteration removed columns are : ['walked_to_work']

 15 iteration removed columns are : ['number_of_properties']

 16 iteration removed columns are : ['group_quarters']

 17 iteration removed columns are : ['male_45_64_grade_9_12']

In [67]:
corr.shape

(42, 42)

In [68]:
test = cleaned_labeled_data['zip']
test = pd.concat([test,cleaned_labeled_data[corr.columns]],axis=1)
test['Liking'] = cleaned_labeled_data['Liking']
print(test.shape)
test.head()

(3280, 44)

,zip,submarket_name,building_class,year,period,completions,vac_pct,vacancy_chg_bps,asking_rent_pct_chg,abs_per_occ_stk_pct,...,male_male_households,percent_income_spent_on_rent,million_dollar_housing_units,different_house_year_ago_same_city,two_parents_mother_in_labor_force_families_with_young_children,two_parents_not_in_labor_force_families_with_young_children,commuters_by_subway_or_elevated,male_45_64_less_than_9_grade,armed_forces,Liking
7,77072,0,1,-1.487651,0,-0.687108,0.960546,-0.104365,0.012139,-0.197553,...,-0.793455,2.017871,-0.535415,1.803693,1.899377,0.000986,-0.570861,2.986672,-0.50029,0.0
8,77072,0,1,-1.398322,0,-0.687108,1.028919,0.333717,0.436848,-0.718453,...,-0.793455,2.017871,-0.535415,1.803693,1.899377,0.000986,-0.570861,2.986672,-0.50029,0.0
9,77072,0,1,-1.308993,0,-0.687108,0.584491,-0.980528,0.153709,-0.279800,...,-0.793455,2.017871,-0.535415,1.803693,1.899377,0.000986,-0.570861,2.986672,-0.50029,0.0
10,77072,0,1,-1.219665,0,-0.687108,0.037501,-1.243377,-0.483354,-0.197553,...,-0.793455,2.017871,-0.535415,1.803693,1.899377,0.000986,-0.570861,2.986672,-0.50029,0.0
11,77072,0,1,-1.130336,0,-0.687108,-0.406927,-0.980528,-0.164823,-0.279800,...,-0.793455,2.017871,-0.535415,1.803693,1.899377,0.000986,-0.570861,2.986672,-0.50029,0.0

In [69]:
test.Liking.value_counts()

1.0    2665
0.0     615
Name: Liking, dtype: int64

In [70]:
# test.to_csv('Trainable_data.csv')